{%extends 'base.html'%}
{% block title %} Home {% endblock %}
{% block content %}
<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
<div class="dropdown col-md-12 offset-md-3">
</br>
<h1>Welcome to pyMDSS</h1>
</br></br>
</div>
<div class="dropdown col-md-12 offset-md-0">
<h4>A pythonic version of the Measurements Database for Standards and Systems</h4>
</div>
{% else %}
<h1  class="col-md-12 offset-md-4">Login</h1>
</br>
<form method="POST" actions="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="username" required>
    </div>
</br>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="password" required>
    </div>
        <button type="submit" class="btn btn-secondary">Login</button>
</form>
</div>
{% endif %}
{% endblock %}