{% load static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NIST-PML</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="login.html">Log out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                MDSS
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/home">
                <span data-feather="file"></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/admin">
                <span data-feather="shopping-cart"></span>
                Admin
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/selectCalibrationArea">
                <span data-feather="users"></span>
                 Select Calibration Area
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/documentation">
                <span data-feather="bar-chart-2"></span>
                Documentation
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>