{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <title> pyMDSS  </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'icons/favicon.gif' %}">
    <!-- Custom styles for this template -->
  </head>
{% block title%} {% endblock %}
{% block content %}
<form class="col-md-12 offset-md-1" style="width: 30%;" method="get" action="{% url 'process' %}" >
    <br><br>
    <h4>
  <em>Processed <span id="nrows">{{ nrows }}</span> elements...</em>
    </h4>
</form>
<script>
function pollNrows() {
    fetch("{% url 'get_nrows' %}")
        .then(response => response.json())
        .then(data => {
            document.getElementById("nrows").innerText = data.nrows;
        });
}

setInterval(pollNrows, 100); // every 1 second
</script>

{% endblock %}