{% extends 'base.html' %}
{% block title %} Upload test points {% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post" action= "{% url 'upload' %}">
{% csrf_token %}
<br>
<h6>Upload Test points</h6> <input type="file" name="mdss_data_file[]" multiple>
<button class="btn btn-secondary" type="submit">Upload File</button>
<br><br>
<h6>Uploaded Files:</h6>
{% for fn in fdata %}
    {% for f in fn %}
        <em>{{f}}&nbsp;</em>
    {% endfor %}
    <br>
{% endfor %}

</form>
{% endblock %}